.revList {
  display: flex;
  padding: 20px;
  padding-top: 0;
  flex-direction: column;
  justify-content: start;
}

.revItrem {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.revItrem p {
  text-align: start;
}
